@use "../util" as *;
@use "../util/mixins.scss" as m;

.button {
  color: var(--body);

  &,
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    gap: rem(15);
    padding: rem(24);
    border-radius: rem(16);

    // Change for the <button> element
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    @include m.respond(tab-port) {
      padding: rem(16) rem(24);
    }
  }

  &__arrow {
    width: 100%; /* Make it responsive to parent element */
    max-width: rem(37);
    max-height: rem(15);
    &--blue {
      fill: transparent;
      stroke: var(--body);
    }
    &--white {
      fill: transparent;
      stroke: var(--white);
    }
  }

  &--orange {
    background-color: var(--secondary);
  }

  &--blue {
    color: var(--white);
    background-color: var(--body);
  }

  &--bordered {
    border: 1px solid var(--body) !important;
    background-color: transparent;
  }
}
