@use "../util" as *;

.header {
  &__logo {
    z-index: 2001;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: rem(20);
  }
}

.body {
  height: 180rem;
  background-color: bisque;
}
