@use "../util" as *;
@use "../util/mixins.scss" as m;

.header {
  height: 8vh;

  &--fixed {
    position: fixed;
    width: 100%;
    background-color: white;
  }

  &__logo {
    z-index: 2001;
    transition: position 0.5s ease;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: rem(20);
  }
}
.stuffed {
  height: 10.1vh;
}
.body {
  height: 180rem;
  background-color: bisque;
}
