@use "../util" as *;
@use "../util/mixins.scss" as m;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--font-default);
  font-size: rem(20);
  line-height: rem(32);
  color: var(--body);
  @include m.respond(tab-port) {
    font-size: rem(18);
  }
}

h1 {
  font-size: rem(70);
  line-height: rem(84);
  letter-spacing: 0.36px;
  font-weight: 400;
}

@include m.respond(tab-port) {
  h1 {
    font-size: rem(54);
    line-height: rem(64);
  }
}

h2 {
  font-size: rem(48);
  line-height: rem(56);
  letter-spacing: 0.36px;
  font-weight: 400;
}

@include m.respond(tab-port) {
  h2 {
    font-size: rem(40);
    line-height: rem(48);
  }
}

h3 {
  font-size: rem(40);
  line-height: rem(48);
  letter-spacing: 0.36px;
}

h4 {
  font-size: rem(30);
  line-height: rem(32);
  font-weight: 400;
}

.displayText {
  font-family: var(--font-display);
  color: var(--primary);
  text-transform: capitalize;
  font-size: rem(36);
  line-height: rem(64);
  font-weight: normal;
}

@include m.respond(tab-port) {
  .displayText {
    font-size: rem(28);
    line-height: rem(48);
    font-weight: normal;
  }
}

.subtitle1 {
  font-size: rem(22);
  &--bold {
    font-weight: 700;
  }
}

.subtitle2 {
  font-size: rem(24);
  &--bold {
    font-weight: 700;
  }
}

.label {
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(16);
  color: var(--white);
  background-color: var(--body);
  border-radius: rem(8);
  padding: rem(10) rem(25);
  display: flex;
  justify-content: center;
  &--bold {
    font-weight: 700;
    font-size: rem(16);
    line-height: rem(24);
    color: var(--white);
    background-color: var(--body);
    border-radius: rem(8);
    padding: rem(10) rem(25);
    display: flex;
    justify-content: center;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
